# Kern-Stack (NumPy < 2 wegen MLflow 2.14.x)
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.11.4

# Airflow-Extras
psycopg2-binary==2.9.9
redis==5.0.4
matplotlib==3.8.4

# Tracking & Tuning
mlflow==2.14.1
optuna==3.6.1
xgboost==2.1.1