# ───────────── Python ─────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# ───────────── Virtual Environments ─────────────
.venv/
venv/
env/

# ───────────── Jupyter ─────────────
.ipynb_checkpoints/

# ───────────── Logs ─────────────
*.log
*.out
*.err
logs/

# ───────────── OS junk ─────────────
.DS_Store
Thumbs.db

# ───────────── Airflow & MLflow ─────────────
airflow.db
*.pid
*.sqlite
*/airflow.cfg
*/unittests.cfg

# Lokale Airflow-/MLflow-Verzeichnisse (prod & dev)
airflow-docker/.env
airflow-docker/db/
airflow-docker/logs/
airflow-docker/pgdata/
airflow-docker/*-prod/
airflow-docker/grafana-data/
airflow-docker/mlartifacts-prod/
airflow-docker/pgdata-prod/
airflow-docker/logs-prod/

# ───────────── Docker ─────────────
*.sock

# ───────────── Cache ─────────────
.cache/

# ───────────── Environment Files (Secrets) ─────────────
.env
.env.*
!.env.example

# ───────────── Local runtime data (prod mounts) ─────────────
pgdata-prod/
mlartifacts-prod/
logs-prod/
data-prod/
models-prod/
grafana-data/
postgres-init/

# ───────────── PostgreSQL volumes ─────────────
airflow-docker/pgdata-dev/
airflow-docker/pgdata-prod/
pgdata-dev/
pgdata-prod/